# Ignore the Airflow virtual environment
airflow_venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore pip environment files
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore pip log files
pip-log.txt
pip-delete-this-directory.txt

# Ignore distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore virtualenv
.venv/